$rightPx: 16px;

.afisha {
  display: grid;
  grid-template-columns: repeat(auto-fit, 31.9%);
  grid-gap: 5px 2.1%;

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;

    &_special {
      grid-row: 1/ span 2;

      .special-tool {
        position: absolute;
        top: 11px;
        right: $rightPx;
        padding: 4px 0;
        width: 122px;
        display: block;
        font-size: 12px;
        line-height: 12px;
        font-weight: 600;
        letter-spacing: 0.02em;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        background-color: #3E99ED;
        border-radius: 6px 6px 0px 6px;
        z-index: 2;
      }

      .title-link img{
        @media (max-width: 736px) {
          margin: auto;
          width: 37%;
        }
      }
    }

    @media(max-width: 736px) {
      margin-bottom: 8px;
    }
  }

  .user {
    padding-left: 10px;
    display: flex;
    align-items: center;

    &__img {
      margin-right: 8px;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      border: 1px solid #ccc;
      overflow: hidden;

      img {
        display: block;
        max-width: 100%;
      }
    }

    &__name {
      font-weight: 600;
    }
  }

  &__picture {
    margin-bottom: 10px;
    position: relative;
    border-radius: 14px 0px 14px 14px;
    overflow: hidden;
    background-color: #EAE9D6;

    .title-link {
      display: block;
      font-size: 32px;
      line-height: 32px;
      color: #fff;
      text-decoration: none;

      &:hover img {
        transform: scale(1.1);
      }

      @media(max-width: 736px) {
        font-size: 26px;
        line-height: 28px;
      }
    }

    img {
      transition: transform 0.3s ease-in;
    }

    .date {
      position: absolute;
      top: 16px;
      right: $rightPx;
      min-width: 73px;
      font-weight: 600;
      color: #fff;
      text-align: center;
      background-color: rgba(62, 63, 64, 0.7);
      border-radius: 8px 0px 8px 8px;
      z-index: 2;

      &__num {
        margin: 0;
        font-size: 32px;
        line-height: 1.25;
      }

      &__month {
        margin: 0;
      }

      &__time {
        margin: 0 0 8px 0;
      }
    }

    &_no-img {
      padding-left: 7%;
      padding-top: 8%;
      height: 100%;
      max-height: 224px;
      background-color: #CCC8A2;

      .title-link {
        max-width: 230px;
      }

      @media(max-width: 736px) {
        padding-top: 5%;
        padding-bottom: 5%;
      }
    }
  }

  &__location {
    padding: 0 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .city {
      font-weight: 600;
      color: #3E99ED;
    }

    .online {
      color: #48B0A2;
    }
  }

  &__title {
    margin: 0;

    a {
      padding-left: 10px;
      display: block;
      font-size: 20px;
      line-height: 24px;
      color: #252626;
      text-decoration: none;
    }
  }
  
  &__more {
    display: block;
    padding: 8px 0;
    margin: 40px auto 0 auto;
    min-width: 364px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 24px;
    background-color: #3E99ED;
    cursor: pointer;
  }

  @media(max-width: 1023px) {
    grid-template-columns: repeat(auto-fit, 48.9%);
  }

  @media(max-width: 736px) {
    grid-template-columns: 1fr;
  }
}