html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding-top: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.15;
  color: #252626;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1172px;
}